body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.darkDiv {
  background-color: dimgray;
  color: lightgray;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.lightDiv {
  background-color: lightgray;
  height: 100vh;
  width: 100vw;
}

.topBar {
  background-color: darkcyan;
  height: 50px;
}
